In [1]:
import pandas as pd
import numpy as np
import seaborn
import matplotlib.pyplot as plt


df_original = pd.read_csv('events.csv', low_memory=False)

## Voy a ver que datos tenemos para cada tipo de evento

### ```viewed_product```

In [2]:
df_viewd_prod = df_original.loc[df_original['event']=='viewed product', :]
df_viewd_prod.dropna(axis=1, how='all').head()

,timestamp,event,person,sku,model,condition,storage,color
2,2018-05-31 23:38:09,viewed product,0004b0a2,2694.0,iPhone 5s,Bom,32GB,Cinza espacial
4,2018-05-29 13:29:25,viewed product,0006a21a,15338.0,Samsung Galaxy S8,Bom,64GB,Dourado
13,2018-04-09 20:13:14,viewed product,000a54b2,12661.0,Motorola Moto Z Play,Muito Bom,32GB,Preto
22,2018-05-24 11:27:47,viewed product,000a54b2,10254.0,iPhone 7 Plus,Excelente,256GB,Dourado
26,2018-05-24 11:28:59,viewed product,000a54b2,6581.0,iPhone 6S,Bom,16GB,Cinza espacial

### ```brand listing```

In [3]:
df_viewd_prod = df_original.loc[df_original['event']=='brand listing', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

,timestamp,event,person,skus
12,2018-04-09 20:12:53,brand listing,000a54b2,"5075,12536,12520,12661,12506,12549,10449,9175,..."
14,2018-04-09 20:13:20,brand listing,000a54b2,"5075,12536,12520,12661,12506,12549,10449,9175,..."
20,2018-05-24 11:26:53,brand listing,000a54b2,"8499,8485,8471,8443"

### ```visited site```

In [4]:
df_viewd_prod = df_original.loc[df_original['event']=='visited site', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

,timestamp,event,person,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
1,2018-05-31 23:38:05,visited site,0004b0a2,Paid,New,Camaragibe,Pernambuco,Brazil,Smartphone,360x640,Android 6,Chrome Mobile 39
5,2018-05-29 13:29:26,visited site,0006a21a,Paid,New,Rio de Janeiro,Rio de Janeiro,Brazil,Smartphone,360x640,Android 5.1.1,Android 5.1
9,2018-04-09 20:12:31,visited site,000a54b2,Paid,New,Rio de Janeiro,Rio de Janeiro,Brazil,Computer,1920x1080,Windows 10,Chrome 65.0

### ```ad campaign hit```

In [5]:
df_viewd_prod = df_original.loc[df_original['event']=='ad campaign hit', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

,timestamp,event,person,url,campaign_source
0,2018-05-31 23:38:05,ad campaign hit,0004b0a2,/comprar/iphone/iphone-5s,criteo
6,2018-05-29 13:29:27,ad campaign hit,0006a21a,/comprar/samsung/galaxy-s8,criteo
11,2018-04-09 20:12:31,ad campaign hit,000a54b2,/,google

### ```generic listing```

In [6]:
df_viewd_prod = df_original.loc[df_original['event']=='generic listing', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

,timestamp,event,person,skus
8,2018-04-09 20:12:31,generic listing,000a54b2,"10310,13333,13347,9902,9944,12774,12801,12744,..."
18,2018-05-24 11:21:08,generic listing,000a54b2,"6649,7237,2820,2750,6707,6720,7224,12619,12605..."
19,2018-05-24 11:26:34,generic listing,000a54b2,"6649,7237,2820,2750,6707,6720,7224,12619,12605..."

### ```searched products```

In [7]:
df_viewd_prod = df_original.loc[df_original['event']=='searched products', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

,timestamp,event,person,skus,search_term
157,2018-02-06 02:29:49,searched products,00204059,"2692,6819,823,2779,13864,2784,8135,6805,2773,2...",moto g 4
159,2018-02-06 02:32:41,searched products,00204059,"2692,6819,823,2779,13864,2784,8135,6805,2773,2...",moto g 4
238,2018-05-21 19:56:33,searched products,0024ad28,"3371,6357,6371,10896,2718,2777,6001,2694,3191,...",comprar celulares usados bom e barato em poa rs

### ```search engine hit```

In [8]:
df_viewd_prod = df_original.loc[df_original['event']=='search engine hit', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

              timestamp              event    person search_engine
10  2018-04-09 20:12:31  search engine hit  000a54b2        Google
17  2018-05-24 11:21:07  search engine hit  000a54b2        Google
47  2018-04-06 05:12:05  search engine hit  00184bf9        Google

### ```checkout```

In [9]:
df_viewd_prod = df_original.loc[df_original['event']=='checkout', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

,timestamp,event,person,sku,model,condition,storage,color
3,2018-05-31 23:38:40,checkout,0004b0a2,2694.0,iPhone 5s,Bom,32GB,Cinza espacial
7,2018-05-29 13:29:35,checkout,0006a21a,15338.0,Samsung Galaxy S8,Bom,64GB,Dourado
44,2018-05-24 11:34:32,checkout,000a54b2,12660.0,Motorola Moto Z Play,Bom,32GB,Preto

### ```staticpage```

In [10]:
df_viewd_prod = df_original.loc[df_original['event']=='staticpage', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

                timestamp       event    person       staticpage
254   2018-05-28 22:45:54  staticpage  0024ad28       how-to-buy
350   2018-05-30 01:06:09  staticpage  002932b1  trust-trocafone
1323  2018-06-01 03:36:45  staticpage  00751747          Quiosks

### ```conversion```

In [11]:
df_viewd_prod = df_original.loc[df_original['event']=='conversion', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

,timestamp,event,person,sku,model,condition,storage,color
220,2018-03-20 17:46:12,conversion,00204059,3084.0,Motorola Moto X2,Muito Bom,32GB,Couro Vintage
2282,2018-04-26 22:28:53,conversion,00c13dee,6650.0,Samsung Galaxy Core Plus Duos TV,Muito Bom,4GB,Branco
2547,2018-06-10 14:37:50,conversion,00fdbb4b,3348.0,Samsung Galaxy S6 Flat,Muito Bom,32GB,Branco

### ```lead```

In [12]:
df_viewd_prod = df_original.loc[df_original['event']=='lead', :]
df_viewd_prod.dropna(axis=1, how='all').head(3)

                timestamp event    person                model
3248  2018-04-17 22:11:19  lead  01139919  Samsung Galaxy On 7
6636  2018-04-07 11:37:11  lead  01bca043        iPhone 6 Plus
7036  2018-02-12 17:23:30  lead  01db2fe6    Samsung Galaxy J5